﻿body
{
    font-family: "Trebuchet MS";
}

table
{
    border: 0px;
            
}

td
{
    text-align: center;
}

#Products, #Keypad{
    float: left;
}

button
{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

td
{
    white-space: nowrap;
}

#currencies button
{
    width: 30px;
    height: 30px;
}

#creditCardPanel
{
    display: none;
}

#Buffer, #Credit
{
    font-family: monospace;
    vertical-align: middle;
    float: right;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    border: thick solid black;
    color: red;
    min-width: 40px;
    height: 40px;
}

#Clear
{
    clear: both;
}

#Buffer, #Delete
{
    float: right;
}

#Left, #ResetProducts, #Credit
{
    float: left;
}

label
{
    position: relative;
    z-index: -1;
}

button.cash
{
    width: 40px;
    height: 25px;
}

fieldset
{
    text-align: left;
    font-size: 10pt;
}

#Credit
{
    position: relative;
    color: green;
    background-color: white;
    z-index: 2;
}

#Buffer
{
    position: relative;
    z-index: 2;
    background-color: white;
}